body {
    background: #021C1e;
    font-family: 'Comis';
    color: #fff;
}

#container {
    width: 500px;
    height: 780px;
    margin: 0 auto;
    background-color: #2C7873;
    padding: 20px;
    box-sizing: border-box;
    border-top-left-radius: 1.2em;
    border-top-right-radius: 1.2em;
    border-bottom-left-radius: 1.2em;
    border-bottom-right-radius: 1.2em;
}

#container form:after {
    margin: 0;
    content: '';
    display: block;
    clear: both;
}
header p{
    font-family:'Comic Sans MS';
    font-size: 26px;
    text-align: center;
    text-decoration: underline;
    color:orange;
}
input[type="text"] {
    width: 64%;
    float: left;
    padding: 13px 32px;
    background: #004445;
    border: none;
    border-top-left-radius: 1.2em;
    border-bottom-left-radius: 1.2em;
    font-size: 22px;
    font-weight: 300;
    color:#fff;
    outline: none;

}

button {
  position: relative;
  width: 22%;
  height: 50px;
  float: right;
  background: orange;
  border: none;
  border-top-right-radius: 1.2em;
  border-bottom-right-radius: 1.2em;
  font-size: 16px;
  color: #fff;
  font-weight: 300;
  outline: none;
}

ul {
    list-style-type: none;
    display: block;
    padding: 0;
    margin: 34px 0 0 0;
}

li {
  width: 100%;
  padding: 12px 24px;
  margin: 0 0 21px 0;
  background: #6Fb98F;
  border:2px solid #021C1e;
  border-radius: 0.3125rem;
  display:table;
  font-size: 25px;
  font-weight: 300;
  color: #fff;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
}

li:hover{
    width:100%;
    height:75px;
    text-decoration: line-through;
    font-size: 25px;
    color:rgb(138, 2, 2);
}


